<footer class="myfooter border-top pt-3 pb-3">
    <div class="myfootericons">
        <a href="">

            <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="">

            <i class="fa-brands fa-square-twitter"></i>
        </a>
        <a href="">

            <i class="fa-brands fa-square-instagram"></i>
        </a>
    </div>
    <div class="myfooterinfo">&copy; Wanderlust 2025</div>
    <div class="myfooterlinks">
        <a href="/listing/privacy">Privacy</a>
        <a href="/listing/terms">Terms</a>
        
    </div>
</footer>