<% layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col col-6 offset-3 mt-5">
            <h1 class="mb-3">LogIn For WanderLust</h1>
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control mb-3" id="username" name="username" required>
                </div>
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control mb-3" id="password" name="password" required>
                </div>
                <button class="btn btn-dark mt-5" type="submit">LogIn</button>
            </form>
        </div>
    </div>
</body>
