<% layout("layouts/boilerplate")%>
<body>
    
    <div class="alert alert-danger mt-5" role="alert">
        ERROR: <%= message %> 
        <br>
        STATUS CODE: <%= status %>
    </div>
    <div class="d-flex justify-content-end">
        <a href="/listing" class="btn btn-outline-danger backbutton text-danger">Go Home</a>

    </div>
</body>